.babelrc
/node_modules
.DS_STORE
*.log
/config/environments/*
/config/environments/dev.env.js
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
